<!doctype html>
<html>
  <head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Groupen | Instant Messaging  </title>
	<link rel="shortcut icon" href="/images/favicon.png" />
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.2/css/fontawesome.min.css" rel="stylesheet" />
    <link href="/css/my.css" rel="stylesheet" />
    <link href="/css/nanoscroller.css" rel="stylesheet" />
    <link href="/css/owl.carousel.min.css" rel="stylesheet" />
  </head>
  <body>

    {{>header}}

    {{{body}}}

    {{>footer}}

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/RTCMultiConnection.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <!-- <script src="/bootstrap.min.js"></script> -->
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.validate.js"></script>
    <script src="/js/deparam.js"></script>
    <script src="/js/moment.js"></script>
    <script src="/js/jquery.nanoscroller.js"></script>
    <script src="/js/my.js"></script>
    <script src="/js/client_validation.js"></script>
    <script src="/js/dataPost.js"></script>

  </body>
</html>
